{% extends 'base.html' %}
{% block content %}
<br><br /><br /><br /><br />
<div class="container">
        {% if user.is_authenticated %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Hi , {{user.username}}</strong> Welcome!.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>

<!--            {% if user.username == 'ajay10' or user.username == 'awake' %}-->
<!--                <a href="{% url 'addfeed' %}">-->
<!--                    <i class="fas fa-plus-circle fa-2x"></i>-->
<!--                </a> ||-->
<!--                <a href="{% url 'logout' %}">Logout</a>-->
<!--            {% else %}-->
<!--                <a href="{% url 'logout' %}">Logout</a>-->
<!--            {% endif %}-->

<!--        {% endif %}-->

    {% for post in object_list %}
    <div class="card mb-3" style="max-width:auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://picsum.photos/300/200" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'article' post.pk %}">{{post.title}}</a></h5>
        <p class="card-text">{{post.body | slice:":60"}} ...</p>
          {% if user.username == post.author.username %}
            <p class="card-text">
                <small class="text-muted">{{post.author}} - {{post.post_date}} <i class="fas fa-crown"></i>
                </small>
            </p>
          {% else %}
          <p class="card-text">
                <small class="text-muted">{{post.author}} - {{post.post_date}}
                </small>
            </p>
          {% endif %}
      </div>
    </div>
  </div>
</div>
    {% endfor %}


</div>
<br>
<hr>
<br>
{% endblock %}
