{% extends 'base.html' %} {% load static %} 

{% block content %} <br /><br />


<script type="text/javascript">
    function react()
{

    value = document.getElementById("like").className;
	if (value === "fas fa-heart fa-2x") {
        document.getElementById("count").innerHTML = '9'
		document.getElementById("like").className = "far fa-heart fa-2x";
		document.getElementById("like").style.color = "black";
		
	} else {
        document.getElementById("count").innerHTML = '10'
		document.getElementById("like").className = "fas fa-heart fa-2x";
		document.getElementById("like").style.color = 'crimson'
		
	}
}


</script>
<div class="container">
    {% for feeds in feeds %}
        <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{feeds.link}}" id="imgContent" class="card-img" alt="..."/>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{feeds.title}}</h5>
                  <p class="card-text">{{feeds.desc}}.</p>
                  <button class="like" >
                    <i class="far fa-heart fa-2x" id="like"></i> <p id='count'></p>
                </button>
                <a style="float: right;" class="comment" href="{% url 'content' %}">
                    <i class="far fa-comment-alt fa-2x"></i>
                </a>
                </div>
              </div>

            </div>
          </div>
    {% endfor %}
</div>
<br />
<hr />

{% endblock %}
