{% extends 'base.html' %} {% load static %} 

{% block content %} <br /><br />
<style>
    .table{
    text-align: center;
}
.inside{
color:#463ead;
}
</style>

<div class="container">
    <div class="card-deck">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img style="border-radius: 100%;" src="https://media.tenor.com/images/d6fa8e3fe72475754a1e7b21dd35172c/tenor.gif" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title" style="background:; color:white;text-shadow: 2px 2px 4px #000000;">{{user_details.firstname}} {{user_details.lastname}}</h4>
                  <h6 class="card-title"><i class="fas fa-at" style="padding-right: 10px;color:#4abdff;"></i>{{user_details.firstname}}</h6>
                  <h6 class="card-title"><i class="far fa-envelope" style="padding-right: 10px;color:#4abdff;"></i>{{user_details.email}}</h6>
                  <h6 class="card-title"><i class="fas fa-globe-asia" style="padding-right: 10px;color:#4abdff;"></i>{{user_details.location}}</h6>
                  <h6 class="card-text"><i class="far fa-calendar-plus" style="padding-right: 10px;color:#4abdff;"></i>Joined on:
                      {{user_details.joined}}</h6>
                  <h6 class="card-text"><i class="fas fa-info" style="padding-right: 10px;color:#4abdff;"></i>Bio: {{user_details.bio}}</h6>
                    <a href="{% url 'logout' %}" style="text-decoration:none;"><i class="fas fa-power-off"></i> Log Out</a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{% static '/images/graph.png' %}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <table class="table">
                        <tr>
                            <th class="table-primary">Likes</th>
                            <th class="table-primary">Comments</th>
                        </tr>
                    </table>

                  </div>
                </div>
              </div>
            </div>
    </div>
<hr/>
<h4 style="text-align: center; font-family: 'Roboto', sans-serif;"><i class="fas fa-bookmark" style="padding-right: 10px;"></i>Saved</h4>    

</div>
<br><br>
{% endblock %}